{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{#tag}}
<header class="page-head">
    <h1 class="page-head-title">{{name}}</h1>
    <p class="page-head-description">
        {{#if description}}
            {{description}}
        {{else}}
            {{plural ../pagination.total empty='posts' singular='% image' plural='% images'}}
        {{/if}}
    </p>
</header>
{{/tag}}

<div class="post-feed grid are-images-unloaded">
<div class="grid-item grid-sizer"></div>
{{#foreach posts}}

    {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
    {{> "post-card"}}

{{/foreach}}
</div>

<div class="page-load-status">
      <div class="loader-ellips infinite-scroll-request">
        <span class="loader-ellips__dot"></span>
        <span class="loader-ellips__dot"></span>
        <span class="loader-ellips__dot"></span>
        <span class="loader-ellips__dot"></span>
      </div>
      {{!--
      <p class="scroller-status__message infinite-scroll-last">End of content</p>
      <p class="scroller-status__message infinite-scroll-error">No more pages to load</p>
      --}}
</div>

{{pagination}}
